<!-- <div class="w-screen h-screen flex flex-col gap-2 items-center justify-center">
  <div class="flex gap-4 text-3xl font-bold">
    <span class="text-red-500">Angular</span>
    <span class="text-slate-600">+</span>
    <span class="text-sky-400">TailwindCSS</span>
  </div>

  <div class="flex gap-4 text-xl font-bold">
    <span class="text-slate-600">Template</span>
  </div>
</div> -->

<section class="relative">
  <header class="absolute backdrop-blur-sm bg-white flex font-semibold justify-center opacity-95 w-full">
    <!-- check opacity -->
    <nav class="max-w-screen-lg px-5 lg:px-4 py-2.5 w-full">
      <ul class="flex gap-20 items-center justify-between w-full">
        <li>
          <a href="#">
            <img
              class="w-auto"
              src="https://raw.githubusercontent.com/marianaivs/angular-bktjab/e79ed90af8258bbff7f5c9babdbe2747931c648a/assets/logo.svg"
            />
          </a>
        </li>
        <ul class="flex gap-8 items-center justify-between w-auto">
          <li class="md:flex hidden px-4 py-2">
            <a href="#">Features</a>
          </li>
          <li class="md:flex hidden px-4 py-2">
            <a href="#">About Us</a>
          </li>
          <li class="bg-primary rounded">
            <a class="leading-10 px-4 py-2 text-white" href="#">Log In</a>
          </li>
        </ul>
      </ul>
    </nav>
  </header>
  <div></div>
</section>